.fadeInFromBottom {
    animation: 1s ease-in-out 0s 1 forwards fadeInFromBottom;
}

@keyframes fadeInFromBottom {
    from {
        transform: translateY(200px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.fadeInFromTop {
    animation: 1s ease-in-out 0s 1 forwards fadeInFromTop;
}

@keyframes fadeInFromTop {
    from {
        transform: translateY(-200px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.fadeInFromLeft {
    animation: 1s ease-in-out 0s 1 forwards fadeInFromLeft;
}
@keyframes fadeInFromLeft {
    from {
        transform: translateX(-200px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.fadeInFromRight {
    animation: 1s ease-in-out 0s 1 forwards fadeInFromLeft;
}
@keyframes fadeInFromLeft {
    from {
        transform: translateX(-200px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
