$bgColor: #cbd3ff;
$viewBgColor: #626895;
$viewSecondaryBg: #4a4a86;
$primaryText: #fff;

$sansCompact: 'Saira Extra Condensed', sans-serif;
$sans: 'Montserrat', sans-serif;

$gridColumns: 12;
$gridGutter: 10px;