* {
    box-sizing: border-box;
}

body {
    background-color: $bgColor;
    color: $primaryText;
    font-size: 20px;
    font-family: $sansCompact;
}

.container {
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: 1170px;
    text-align: center;
    padding: 40px 15px;
}

input,
select {
    background-color: $viewSecondaryBg;
    color: $primaryText;
    width: 100%;
    padding: 10px;
    height: 50px;
    border: none;
    text-decoration: none;
    &:focus {
        outline: 0;
    }
}

button {
    background-color: $viewSecondaryBg;
    color: $primaryText;
    border: none;
}

#weatherview {
    display: inline-block;
    width: 100%;
    max-width: 600px;
    background-color: $viewSecondaryBg;
    .app-title {
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: $viewSecondaryBg;
        h1 {
            margin-bottom: 0;
        }
        .toggle-controls-btn {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            font-size: 30px;
        }
    }
    .display-panel {
        text-align: center;
        background-color: $viewBgColor;
        padding: 20px;
        min-height: 200px;
    }
    .air-info {
        padding-top: 20px;
    }
    .controls {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        border-top: 1px solid $bgColor;
        select {
            border-bottom: 1px solid $bgColor;
        }
        input {
            flex-basis: 75%;
            border-right: 1px solid $bgColor;
        }

        button {
            flex-basis: 25%;
        }
    }
}

.forecast-card {
    border-bottom: 1px solid $bgColor;
    padding-top: $gridGutter;
    padding-bottom: $gridGutter;
    $customGutter: 15px;
    &:nth-child(odd) {
        padding-right: $customGutter;
        border-right: 1px solid $bgColor;
    }
    &:nth-child(even) {
        padding-left: $customGutter;
    }
    & > .row {
        flex-wrap: nowrap;
        justify-content: space-between;
        & > .date {
            text-align: left;
        }
        & > .temperature {
            & > * {
                margin-bottom: 0;
            }
        }
    }
}

@mixin elements-sm() {
    .forecast-card {
        border-right: none!important;
        border-left: none!important;
        border-bottom: 1px solid $bgColor;
        & > .row > .date  {
            h5, p {
            text-align: center;
            }
        }
    }
}