.row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

@for $i from 1 through $gridColumns {
    .col-#{$i} {
        flex-basis: ($i/$gridColumns) * 100%;
        width: ($i/$gridColumns) * 100%;
        box-sizing: border-box;
        padding-left: $gridGutter;
        padding-right: $gridGutter;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .text-container {
            padding: 30px;
        }
        &.image-container {
            min-height: 300px;
        }
    }
}

@mixin layout-large-desktop() {
    .row.break-lg {
        flex-flow: column nowrap;
        div[class*='col-'] {
            width: 100%;
            flex-basis: 100%;
        }
    }
    .row.reverse-break-lg {
        flex-flow: column-reverse nowrap;
        div[class*='col-'] {
            width: 100%;
            flex-basis: 100%;
        }
    }
}

@mixin layout-small-desktop() {
    .row.break-md {
        flex-flow: column nowrap;
        div[class*='col-'] {
            width: 100%;
            flex-basis: 100%;
        }
    }
    .row.reverse-break-md {
        flex-flow: column-reverse nowrap;
        div[class*='col-'] {
            width: 100%;
            flex-basis: 100%;
        }
    }
}

@mixin layout-tablet() {
    .row.break-sm {
        flex-flow: column nowrap;
        div[class*='col-'] {
            width: 100%;
            flex-basis: 100%;
        }
    }
    .row.reverse-break-sm {
        flex-flow: column-reverse nowrap;
        div[class*='col-'] {
            width: 100%;
            flex-basis: 100%;
        }
    }
}

@mixin layout-mobile() {
    .row.break-xs {
        flex-flow: column nowrap;
        div[class*='col-'] {
            width: 100%;
            flex-basis: 100%;
        }
    }
    .row.reverse-break-xs {
        flex-flow: column-reverse nowrap;
        div[class*='col-'] {
            width: 100%;
            flex-basis: 100%;
        }
    }
}