@meida(max-width: 1200px) {
    @include layout-large-desktop();
}

@meida(max-width: 991px) {
    @include layout-small-desktop();
}

@media(max-width: 767px) {
    @include layout-tablet();
    @include elements-sm();
}

@media(max-width: 480px) {
    @include layout-mobile();
}